body{
    font-family: 'Open Sans Condensed';
    padding: 0 10px;

    @media screen and (max-width: 800px){
        padding: 0 0;
    }
}

.content{
    margin-top: 70px;
    width: 100%;
    @media screen and (max-width: 800px){
        margin-top: 60px;
    }
}
a{
    text-decoration: none;
    color:black;
}

* {
    box-sizing: border-box;
}