header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: white;
    z-index: 1;
    top:0;


    .menu-icon{
      display: none;
    }

    .logo{
        height: 100%;
        width: 100%;
    }

    .logo-container {
      height: 100%;
      width: 70px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 800px){
      height: 60px;
      padding: 0 5px;
      .menu-icon{
        display: none;
        height: 100%;}

      .logo{
          height: 100%;
          width: 100%;
      }
  
      .logo-container {
        height: 100%;
        width: 40px;
      }
    }
  }
  